@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
/* @include box-sizing(#); */
.promo-82 {
  font: 400 16px/24px "Montserrat", sans-serif;
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: #202020;
  background: #fff;
  margin: -8px;
}
.promo-82 *, .promo-82 :before, .promo-82 :after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.promo-82 ul, .promo-82 ol {
  list-style-type: none;
}
.promo-82 p {
  margin-bottom: 24px;
}
.promo-82 .container {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  width: 100%;
}
@media only screen and (min-width: 576px) {
  .promo-82 .container {
    max-width: 576px;
  }
}
@media only screen and (min-width: 768px) {
  .promo-82 .container {
    max-width: 720px;
  }
}
@media only screen and (min-width: 992px) {
  .promo-82 .container {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1200px) {
  .promo-82 .container {
    max-width: 1180px;
  }
}
@media only screen and (min-width: 1600px) {
  .promo-82 .container {
    max-width: 1540px;
  }
}
.promo-82 .pos-rel {
  position: relative;
  z-index: 1;
}
.promo-82 .img-fluid {
  display: block;
  max-width: 100%;
}
.promo-82 .w-100 {
  width: 100% !important;
}
@media only screen and (min-width: 768px) {
  .promo-82 .order-md-2 {
    order: 2;
  }
}
@media only screen and (min-width: 992px) {
  .promo-82 .order-lg-2 {
    order: 2;
  }
}
.promo-82 .d-flex {
  display: flex !important;
}
.promo-82 .d-block {
  display: block !important;
}
.promo-82 .d-inline-flex {
  display: inline-flex !important;
}
.promo-82 .flex-column {
  flex-direction: column;
}
.promo-82 .flex-grow {
  flex-grow: 1;
}
.promo-82 .flex-wrap {
  flex-wrap: wrap;
}
.promo-82 .d-none {
  display: none !important;
}
.promo-82 .align-items-center {
  align-items: center;
}
.promo-82 .justify-content-center {
  justify-content: center;
}
.promo-82 .justify-content-end {
  justify-content: flex-end;
}
.promo-82 .justify-content-between {
  justify-content: space-between;
}
.promo-82 .text_mediumbold {
  font-weight: 500;
}
.promo-82 .title {
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 31px;
}
@media only screen and (max-width: 767px) {
  .promo-82 .title {
    font-size: 24px;
    line-height: 25px;
  }
}
.promo-82 .text_center {
  text-align: center;
}
.promo-82 .text_size-sm {
  font-size: 14px;
}
.promo-82 .bg-light {
  background: #FAFAFA;
}
.promo-82 .dots-list {
  padding-left: 10px;
  font-size: 14px;
}
.promo-82 .dots-list__item {
  position: relative;
  padding-left: 11px;
  margin-bottom: 24px;
}
.promo-82 .dots-list__item:before {
  content: "";
  display: block;
  position: absolute;
  top: 12px;
  left: 0;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #202020;
}
@media only screen and (max-width: 991px) {
  .promo-82 .promo-82-1 {
    background: #07131F;
  }
}
@media only screen and (max-width: 1199px) {
  .promo-82 .promo-82-1 .title {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 1199px) {
  .promo-82 .promo-82-1 p {
    margin-bottom: 10px;
  }
}
.promo-82 .promo-82-1__text {
  position: absolute;
  padding: 0 17%;
  top: 100px;
  left: 0;
  right: 0;
  color: #fff;
}
@media only screen and (max-width: 1599px) {
  .promo-82 .promo-82-1__text {
    top: 30px;
  }
}
@media only screen and (max-width: 991px) {
  .promo-82 .promo-82-1__text {
    position: static;
    padding: 40px 10px 20px;
  }
}
.promo-82 .promo-82-1__logo {
  width: 328px;
  margin-top: 14px;
}
@media only screen and (max-width: 1399px) {
  .promo-82 .promo-82-1 .container {
    padding: 0;
    max-width: 100%;
  }
}
.promo-82 .promo-82-2 {
  padding: 123px 0 0;
}
@media only screen and (min-width: 992px) {
  .promo-82 .promo-82-2__content {
    display: grid;
    grid-template-columns: 49% 49%;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1200px) {
  .promo-82 .promo-82-2__text {
    padding: 0 8% 97px 5.6%;
  }
}
@media only screen and (min-width: 992px) {
  .promo-82 .promo-82-3__content {
    display: grid;
    grid-template-columns: 49% 49%;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1200px) {
  .promo-82 .promo-82-3__text {
    padding: 20px 3% 0 7.8%;
  }
}
@media only screen and (max-width: 991px) {
  .promo-82 .promo-82-3__text {
    padding-top: 50px;
  }
}
.promo-82 .promo-82-4 {
  padding: 100px 0;
}
@media only screen and (min-width: 1200px) {
  .promo-82 .promo-82-4__text {
    padding: 0 17% 24px;
  }
}
.promo-82 .table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #E2E2E2;
}
@media only screen and (max-width: 991px) {
  .promo-82 .table-responsive {
    border: 1px solid #ccc;
    overflow: auto;
  }
  .promo-82 .table-responsive td {
    white-space: nowrap;
  }
}
.promo-82 .table th {
  border-left: 1px solid #E2E2E2;
  padding: 17px 39px 16px;
  text-align: left;
  font-weight: 500;
}
@media only screen and (max-width: 1199px) {
  .promo-82 .table th {
    padding: 17px 20px 16px;
  }
}
.promo-82 .table td {
  border-left: 1px solid #E2E2E2;
  padding: 13px 38px 11px;
}
@media only screen and (max-width: 1199px) {
  .promo-82 .table td {
    padding: 13px 20px 11px;
  }
}
.promo-82 .table td:first-child {
  font-weight: 500;
  padding-left: 19px;
  white-space: nowrap;
}
.promo-82 .table tr:last-child td {
  padding-bottom: 18px;
}
.promo-82 .table_md th {
  padding: 13px 38px 12px;
}
.promo-82 .table_md td {
  padding: 14px 38px 10px;
}
.promo-82 .table tr:nth-of-type(odd) {
  background: #FAFAFA;
}
@media only screen and (min-width: 992px) {
  .promo-82 .promo-82-5__content {
    display: grid;
    grid-template-columns: 49% 49%;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1200px) {
  .promo-82 .promo-82-5__text {
    padding: 8px 7% 0 5.7%;
  }
}
@media only screen and (min-width: 1200px) {
  .promo-82 .promo-82-5 .title {
    margin-bottom: 75px;
  }
}
.promo-82 .promo-82-5 .dots-list {
  margin: -2px 0 -3px;
}
.promo-82 .promo-82-6 {
  padding: 100px 0;
}
@media only screen and (min-width: 1200px) {
  .promo-82 .promo-82-6__text {
    padding: 0 10% 15px;
  }
}
@media only screen and (min-width: 1200px) {
  .promo-82 .promo-82-6__text-last {
    padding: 0 10% 12px;
  }
}
@media only screen and (min-width: 1400px) {
  .promo-82 .promo-82-6__content {
    padding: 0 8.5%;
  }
}
.promo-82 .promo-82-6__table {
  margin-bottom: 81px;
}
@media only screen and (min-width: 992px) {
  .promo-82 .promo-82-7__content {
    display: grid;
    grid-template-columns: 49% 49%;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1200px) {
  .promo-82 .promo-82-7__text {
    padding: 20px 4% 0 7.8%;
  }
}
.promo-82 .promo-82-8 {
  padding: 121px 0 90px;
}
@media only screen and (min-width: 1200px) {
  .promo-82 .promo-82-8__text {
    padding: 0 17% 24px;
  }
}
.promo-82 .promo-82-9 {
  padding: 47px 0;
}