@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
/* @include box-sizing(#); */
.promo-80 {
  font: 400 16px/24px "Montserrat", sans-serif;
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: #202020;
  background: #fff;
  margin: -8px;
}
.promo-80 *, .promo-80 :before, .promo-80 :after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.promo-80 ul, .promo-80 ol {
  list-style-type: none;
}
.promo-80 p {
  margin-bottom: 24px;
}
.promo-80 .container {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  width: 100%;
}
@media only screen and (min-width: 576px) {
  .promo-80 .container {
    max-width: 576px;
  }
}
@media only screen and (min-width: 768px) {
  .promo-80 .container {
    max-width: 720px;
  }
}
@media only screen and (min-width: 992px) {
  .promo-80 .container {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1200px) {
  .promo-80 .container {
    max-width: 1180px;
  }
}
@media only screen and (min-width: 1600px) {
  .promo-80 .container {
    max-width: 1540px;
  }
}
.promo-80 .pos-rel {
  position: relative;
  z-index: 1;
}
.promo-80 .img-fluid {
  display: block;
  max-width: 100%;
}
.promo-80 .w-100 {
  width: 100% !important;
}
@media only screen and (min-width: 768px) {
  .promo-80 .order-md-2 {
    order: 2;
  }
}
@media only screen and (min-width: 992px) {
  .promo-80 .order-lg-2 {
    order: 2;
  }
}
.promo-80 .d-flex {
  display: flex !important;
}
.promo-80 .d-block {
  display: block !important;
}
.promo-80 .d-inline-flex {
  display: inline-flex !important;
}
.promo-80 .flex-column {
  flex-direction: column;
}
.promo-80 .flex-grow {
  flex-grow: 1;
}
.promo-80 .flex-wrap {
  flex-wrap: wrap;
}
.promo-80 .d-none {
  display: none !important;
}
.promo-80 .align-items-center {
  align-items: center;
}
.promo-80 .justify-content-center {
  justify-content: center;
}
.promo-80 .justify-content-end {
  justify-content: flex-end;
}
.promo-80 .justify-content-between {
  justify-content: space-between;
}
.promo-80 .text_mediumbold {
  font-weight: 500;
}
.promo-80 .title {
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 31px;
}
@media only screen and (max-width: 767px) {
  .promo-80 .title {
    font-size: 24px;
    line-height: 25px;
  }
}
.promo-80 .text_center {
  text-align: center;
}
.promo-80 .text_size-sm {
  font-size: 14px;
}
.promo-80 .bg-light {
  background: #FAFAFA;
}
.promo-80 .dots-list {
  padding-left: 10px;
  font-size: 14px;
}
.promo-80 .dots-list__item {
  position: relative;
  padding-left: 11px;
  margin-bottom: 24px;
}
.promo-80 .dots-list__item:before {
  content: "";
  display: block;
  position: absolute;
  top: 12px;
  left: 0;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #202020;
}
@media only screen and (max-width: 1199px) {
  .promo-80 .promo-80-1 {
    padding-top: 40px;
  }
}
@media only screen and (min-width: 992px) {
  .promo-80 .promo-80-1__content {
    display: grid;
    grid-template-columns: 46.5% 49%;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1200px) {
  .promo-80 .promo-80-1__text {
    padding: 19px 0 0 8.3%;
  }
}
.promo-80 .promo-80-2 {
  padding: 168px 0 0;
}
@media only screen and (max-width: 1199px) {
  .promo-80 .promo-80-2 {
    padding-bottom: 50px;
  }
}
@media only screen and (max-width: 991px) {
  .promo-80 .promo-80-2 {
    padding: 100px 0 0;
  }
}
@media only screen and (min-width: 992px) {
  .promo-80 .promo-80-2__content {
    display: grid;
    grid-template-columns: 46.9% 46.2%;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1200px) {
  .promo-80 .promo-80-2__text {
    padding: 110px 7% 0 0;
  }
}
@media only screen and (min-width: 992px) {
  .promo-80 .promo-80-3__content {
    display: grid;
    grid-template-columns: 49% 49%;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1200px) {
  .promo-80 .promo-80-3__text {
    padding: 19px 6% 0 7.8%;
  }
}
.promo-80 .promo-80-4 {
  padding: 100px 0;
}
@media only screen and (min-width: 1200px) {
  .promo-80 .promo-80-4__text {
    padding: 0 10% 33px;
  }
}
@media only screen and (min-width: 1200px) {
  .promo-80 .promo-80-4__content {
    padding: 0 8.5%;
  }
}
.promo-80 .table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #E2E2E2;
}
@media only screen and (max-width: 991px) {
  .promo-80 .table-responsive {
    border: 1px solid #ccc;
    overflow: auto;
  }
  .promo-80 .table-responsive td {
    white-space: nowrap;
  }
}
.promo-80 .table th {
  border-left: 1px solid #E2E2E2;
  padding: 17px 39px 16px;
  text-align: left;
  font-weight: 500;
}
@media only screen and (max-width: 1199px) {
  .promo-80 .table th {
    padding: 17px 20px 16px;
  }
}
.promo-80 .table td {
  border-left: 1px solid #E2E2E2;
  padding: 13px 38px 11px;
}
@media only screen and (max-width: 1199px) {
  .promo-80 .table td {
    padding: 13px 20px 11px;
  }
}
.promo-80 .table td:first-child {
  font-weight: 500;
  padding-left: 19px;
  white-space: nowrap;
}
.promo-80 .table tr:last-child td {
  padding-bottom: 18px;
}
.promo-80 .table tr:nth-of-type(odd) {
  background: #FAFAFA;
}
@media only screen and (min-width: 992px) {
  .promo-80 .promo-80-5__content {
    display: grid;
    grid-template-columns: 49% 49%;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1200px) {
  .promo-80 .promo-80-5__text {
    padding: 25px 8% 0 5.6%;
  }
}
.promo-80 .promo-80-5__table {
  margin: 60px 0 100px;
}
@media only screen and (min-width: 1200px) {
  .promo-80 .promo-80-5__table {
    padding: 0 8.5%;
  }
}
@media only screen and (min-width: 992px) {
  .promo-80 .promo-80-6__content {
    display: grid;
    grid-template-columns: 49% 49%;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1200px) {
  .promo-80 .promo-80-6__text {
    padding: 20px 7% 0 7.8%;
  }
}
.promo-80 .promo-80-7 {
  padding: 120px 0 100px;
}
@media only screen and (min-width: 1200px) {
  .promo-80 .promo-80-7__text {
    padding: 0 17% 34px;
  }
}
.promo-80 .promo-80-8 {
  padding: 47px 0;
}